<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao BlogApp</h1>
  <div class="lead">Isto é um Blog simples, desenvolvvido com Node.js + Express
    + MongoDB</div>
  <hr class="my-4" />
  <p>Aqui você poderá ler sobre as novidades do mundo da computação.</p>

  <div class="lead">
    <div class="btn btn-primary btn-lg">
      <a class="text-white" href="/usuarios/registro">Crie uma conta</a>
    </div>
  </div>
</div>

<hr />
<h6>Postagens recentes </h6>

{{#each postagens}}
  <div class="card mt-3">
    <div class="card-body">
      <h4>{{titulo}}</h4>
      <small>{{descricao}}</small>
      <p>{{conteudo}}</p>
      <a href="/postagem/{{slug}}"><button class="my-1 btn btn-success">Ler mais</button>
      </a>
      <hr />
      <small>Data de publicação: {{date}}</small>
    </div>
  </div>
{{else}}
  <h5 class="mt-3">Opss... Nenhuma postagem registrada.</h5>
{{/each}}